<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="student" class="com.lh.entity.Student">
        <property name="age" value="22"/>
        <property name="name" value="王五"/>
    </bean>
    <bean id="teacher" class="com.lh.entity.Teacher">
        <property name="name" value="时代"/>
        <property name="age" value="11"/>
        <property name="student" ref="student"/>
    </bean>
</beans>