<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.dao.AccountDao">
    <resultMap id="i" type="com.lh.entity.Account">
        <id column="t_id" property="id"/>
        <result column="t_name" property="username"/>
        <result column="t_pwd" property="password"/>
    </resultMap>
    <select id="fidAll" resultType="com.lh.entity.Account" resultMap="i">
        select * from t_account
    </select>
</mapper>