<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.dao.AccountDao">
    <select id="max" resultType="com.lh.entity.Student" parameterType="Integer">
        select *from  student where age &gt; #{age}
    </select>
    <select id="min" resultType="com.lh.entity.Student" parameterType="Integer">
        select *from  student where age &lt; #{age}
    </select>
</mapper>